* {
    box-sizing: border-box;
    color: yellow;
}
body {
    background-image: url(../homework-4/hyperspace.png);
    background-size: cover;
}

.row {
    margin-top: 200px;
}

.col {
    text-align: center;
}

#welcome {
    background-color: black;
    width: fit-content;
    margin: auto;
}

.question {
    background-color: black;
    width: fit-content;
    margin: auto;
    font-size: xx-large;
}

.choiceList {
    list-style: none;
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

button {
    background-color: black;
    color: yellow;
    padding: 10px;
}

.result {
    display: none;
}


/* Below is what I started with. I copied and pasted it below in case I needed to reference it, but I believe what is written above is correct. */


/* #navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    width: 100%;
}

.col {
    padding: 60px;
}
button {
    display: block;
    margin: 10px;
}
#questionset-1 {
    display: none;
}
#questionset-2 {
    display: none;
}
#questionset-3 {
    display: none;
}
#questionset-4 {
    display: none;
}
#questionset-5 {
    display: none;
}
#enterinit {
    display: none;
}
#viewhs {
    display: none;
} */